.body {
    background-image: url('backgroung1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title {
    color:rgba(24, 195, 155, 0.874);
    font-size: 75px;
    position: relative;
    text-align: center;
}

header {
    background: blanchedalmond; 
    padding: 5px;
}

#menu-principale {
    text-align: center
}

#menu-principale li{
    display: inline;
    
}

#menu-principale li a{
    color: rgb(0, 255, 106);
    margin: 15px;
    text-decoration: none;
}
