.body {
    background-image: url('index_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Heavy', sans-serif;
}

.contenitore {
    display: flex;
    align-items: start;
    gap: 60px;
}

.contenitore img{
    max-height: 55px;
    width: auto;
    padding: auto;
}

.title {
    color:rgba(255, 255, 255, 0.874);
    font-size: 90px;
    position: relative;
    text-align: center;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.colore{
    color:rgb(255, 255, 255);

}

.soluzione{
    font-size: 0px;
}

#sfondo-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

header {
    background: rgb(255, 255, 255); 
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}

body, 
html{
    padding: 0;
    margin: 0;
}


.h3 {
    color:whitesmoke;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
    margin: 35px;
    border-radius: 30px;
}

#menu-principale {
    text-align: center;
}

#menu-principale li{
    display: inline;
}

/* rgb(0, 17, 255) */
#menu-principale li a{
    color: rgb(255, 255, 255);
    margin: 15px;
    text-decoration: none;
    border-radius: 20px;
    background-color:  #38849c;
    padding: 5px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

#animazione_menu {
    text-align: center;
}

#animazione_menu a{
    display: inline;
}



#animazione_menu a{
    margin: 15px;
    font-size: 50px;
    list-style-type: none;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    animation: animazione_menu 1s ease-in-out forwards;
}



#animazione_menu1 li a{
    margin: 0px;
    font-size: 25px;
    display: inline;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    animation: animazione_menu 1.5s ease-in-out forwards;
}

#animazione_menu1 li a{
    text-decoration: none;
}



@keyframes animazione_menu{
    0%{
        transform: translateY(30px) scale(0.8);
        opacity: 0;
    }
    100%{
        opacity: 2;
        /* border: 3px solid  #38849c; */
        transform: translateY(0px) scale(1.5);
        box-shadow: 0px 0px 35px rgb(4, 60, 163);
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8)
    }
}


     @media (max-width: 768px) {
        .h3{font-size: large;}
        .title {
            color: rgba(255, 255, 255, 0.874);
            font-size: 10vw; 
            position: relative;
            text-align: center;
            text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); 
        }
        
        .contenitore {
            display: block;
            text-align:center;
            width: 100%;
            
        }
    
        .contenitore img {
            height: auto;
            max-width: 100%;
            margin-right: 75%;
            padding: auto;
        }
    
} 

#link {
    transition: color 0.2s ease-in-out;
}

#link:hover {
    color:  #38849c;
    background-color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px rgba(2, 54, 76, 0.8);
}